h1,
h2,
h3,
h4 {
    background: grey;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}

h2 {
    margin-left: 15px;
}

h3 {
    margin-left: 25px;
}

h4 {
    margin-left: 35px;
}

.journal_title {
    font-size: 25px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #D1D2D4;
    padding: 3px;
    padding-right: 10px;
}

th {
    text-transform: capitalize;
    padding: 4px;
}


.facture_section{
    font-size: 13px;
    text-transform: uppercase;
}

.sous-total{
    background: #dddddd;
    font-weight: bold;
}
