.doc_title{
    font-size: 25px;
    font-weight: bold;
    color: #0054a6;
}

.logo{
    width: 80px;
    height: 80px;
    background: #0054a6;
    color: white;
}

.border_white{
    border: 1px solid white;
}

.thead{
    background: #0054a6;
    color: white;
    font-weight: bold;
    font-family: merriwheather;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid grey;
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
}

.page-break {
    page-break-after: always;
}






