.task_name{
    font-weight: bold;
    font-size: 13px;
}
.task_description{
    font-size: 13px;
}
.task_priority{
    font-size: 13px;
}
.task_statut {
    /* border-radius: 10px;
    border: 1px solid black;
    padding: 3px; */
}
.task_projet_name {
}
