/* Text Align */
.text-left {
    text-align: left;
}

.text-start {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-end {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* Text Decoration */
.text-bold {
    font-weight: bold;
}

.fw-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-underline {
    text-decoration: underline;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Thin', sans-serif;
    font-family: 'Roboto Light', sans-serif;
    font-family: 'Roboto Medium', sans-serif;
    font-family: 'Roboto Black', sans-serif;
}

.text-primary {
    color: #0092ca;
}
.text-success {
    color: #219C90;
}

.text-danger {
    color: #dc2f2f;
}

.text-white {
    color: white;
}

.text-light {
    color: #eeeeee;
}
.text-muted {
    color: gray;
}
/* Text color */
.text-blue {
    background: #0054a6;
}

.text-azur {
    background: #4299e1;
}

.text-indigo {
    background: #4263eb;
}

.text-purple {
    background: #ae3ec9;
}

.text-pink {
    background: #d6336c;
}

.text-red {
    background: #d63939;
}

.text-orange {
    background: #f76707;
}

.text-yellow {
    background: #f59f00;
}

.text-lime {
    background: #74b816;
}

.text-green {
    background: #2fb344;
}

.text-teal {
    background: #0ca678;
}

.text-cyan {
    background: #17a2b8;
}

/* BG */
.bg-primary {
    background: #0092ca;
}
.bg-green1 {
    background: #6C946F;
}
.bg-green2 {
    background: #254336;
}
.bg-green3 {
    background: #6B8A7A;
}
.bg-green2 {
    background: #E7F0DC;
}
.bg-gray1 {
    background: #405D72;
}

.bg-danger {
    background: #dc2f2f;
}

.bg-light {
    background: #eeeeee;
}

.bg-white {
    background: white;
}
.bg-black {
    background: #434343;
}

/* BG Colors */
.bg-blue {
    background: #0054a6;
}
.bg-azur {
    background: #4299e1;
}
.bg-indigo {
    background: #4263eb;
}
.bg-purple {
    background: #ae3ec9;
}
.bg-pink {
    background: #d6336c;
}
.bg-red {
    background: #d63939;
}
.bg-orange {
    background: #f76707;
}
.bg-yellow {
    background: #f59f00;
}
.bg-lime {
    background: #74b816;
}
.bg-green {
    background: #2fb344;
}
.bg-teal {
    background: #0ca678;
}
.bg-cyan {
    background: #17a2b8;
}

/* BG Colors LT */
.bg-blue-lt {
    background: #e9f0f9;
}
.bg-azur-lt {
    background: #ecf5fc;
}
.bg-indigo-lt {
    background: #eceffd;
}
.bg-purple-lt {
    background: #f7ecfa;
}
.bg-pink-lt {
    background: #fbebf0;
}
.bg-red-lt {
    background: #fbebeb;
}
.bg-orange-lt {
    background: #fef0e6;
}
.bg-yellow-lt {
    background: #fef5e6;
}
.bg-lime-lt {
    background: #f1f8e8;
}
.bg-green-lt {
    background: #eaf7ec;
}
.bg-teal-lt {
    background: #e7f6f2;
}
.bg-cyan-lt {
    background: #e8f6f8;
}

/* BG Gary */
.bg-gray-50 {
    background: #f8fafc;
}
.bg-gray-100 {
    background: #f1f5f9;
}
.bg-gray-200 {
    background: #e2e8f0;
}
.bg-gray-300 {
    background: #c8d3e1;
}
.bg-gray-400 {
    background: #9ba9be;
}
.bg-gray-500 {
    background: #6c7a91;
}
.bg-gray-600 {
    background: #49566c;
}
.bg-gray-700 {
    background: #313c52;
}
.bg-gray-800 {
    background: #1d273b;
}
.bg-gray-900 {
    background: #0f172a;
}

.fs-1{
    font-size: 40px;
}
.fs-2{
    font-size: 32px;
}
.fs-3{
    font-size: 28px;
}
.fs-4{
    font-size: 24px;
}
.fs-5{
    font-size: 20px;
}
.fs-6{
    font-size: 16px;
}
